/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 24, 23, 3:16:35 PM
    Author     : WINDOWS 10
*/

.close{
    -fx-background-color: #0096FF;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #000;
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.main-bg{
    -fx-background-color: linear-gradient(to bottom right, #0096FF, blue);
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #0096FF, blue);
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #fff;
    -fx-border-width: 0.8px;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #d3d3d3;
    -fx-border-color: #d3d3d3;
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #0096FF, blue);
    -fx-border-radius: 8px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #0096FF, blue);
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    
    -fx-text-fill: #fff;
}
.std{
    -fx-background-color: linear-gradient(to bottom right,#3D79B6,#0080FF);
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-insets: 0 0 0 0;
}